<a href="https://colab.research.google.com/github/kadobkina/Python_sfedu/blob/master/py_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

**Создание объекта Series**
(одномерная последовательность с индексом)

In [33]:
# 4. Создайте объект Series из сгенерированного случайного массива numpy.
si=pd.Series(np.random.randint(1, 11, 5))
si

0    6
1    1
2    1
3    3
4    9
dtype: int64

In [34]:
# 5. Выдать на экран представление данных массива (values) и его индекса (index).
# Обратиться по индексу к элементу Series и поменять его значение. 
# Присвойте имя объекту Series (свойство name), и его индексу (index.name). 
# Выведите его тип значений (dtype).
print(f'Данные - {si.values}, индексы - {si.index}')
print(f'Старое значение 1-го элемента массива(si[0]) - {si[0]}')
si[0] = si[0]*-1
print(f'Новое значение 1-го элемента массива(si[0]) - {si[0]}')
si.name = "Integers"
print(f'Имя объекта - {si.name}')
si.index.name = "Indexes"
print(f'Имя индекса - {si.index.name}')
print(f'Тип значений - {si.dtype}')

Данные - [6 1 1 3 9], индексы - RangeIndex(start=0, stop=5, step=1)
Старое значение 1-го элемента массива(si[0]) - 6
Новое значение 1-го элемента массива(si[0]) - -6
Имя объекта - Integers
Имя индекса - Indexes
Тип значений - int64



---


**Создание объекта DataFrame**
(таблица с заголовками столбцов и с индексом по строкам)

In [188]:
# 9. Создайте объект DataFrame из словаря объектов Series. 
# Используйте данные в разных объектах Series разных типов. Например, в первом – целые числа, во втором – строки, и т.д.
ints_dict = {'0': 5,
             '1': 6,
             '2': 7,
             '3': 8,
             '4': 9}
ints = pd.Series(ints_dict)

strings_dict = {'0': 'one',
             '1': 'two',
             '2': 'three',
             '3': 'four',
             '4': 'five'}
strings = pd.Series(strings_dict)

floats_dict = {'0': 0.,
             '1': 0.1,
             '2': 0.2,
             '3': 0.3,
             '4': 0.4}
floats = pd.Series(floats_dict)

df = pd.DataFrame({'ints': ints,
                   'strings': strings,
                   'floats': floats})
df

   ints strings  floats
0     5     one     0.0
1     6     two     0.1
2     7   three     0.2
3     8    four     0.3
4     9    five     0.4

In [189]:
# 10. Выдать на экран представление данных в виде матрицы numpy (values), его индекса (index), столбцов (columns) и типы столбцов (dtypes).
print(f'Данные в виде матрицы - \n{df.values}')
print(f'Индексы - {df.index}')
print(f'Столбцы - {df.columns}')
print(f'Типы столбцов - \n{df.dtypes}')

Данные в виде матрицы -
[[5 'one' 0.0]
 [6 'two' 0.1]
 [7 'three' 0.2]
 [8 'four' 0.3]
 [9 'five' 0.4]]
Индексы - Index(['0', '1', '2', '3', '4'], dtype='object')
Столбцы - Index(['ints', 'strings', 'floats'], dtype='object')
Типы столбцов -
ints         int64
strings     object
floats     float64
dtype: object

In [190]:
# 11. Выдайте на экран информацию о созданном выше объект DataFrame: размерность (ndim, shape), количество элементов (size).
print(f'Размерность - {df.ndim} {df.shape}') # ndim - Return an int representing the number of axes / array dimensions. Return 1 if Series. Otherwise return 2 if DataFrame
print(f'Количество элементов - {df.size}')

Размерность - 2 (5, 3)
Количество элементов - 15

In [191]:
# 12. Обратиться к одному столбцу объект DataFrame: имя[имя столбца]. 
# Выдать на экран представление данных этого столбца (values) и его индекса (index). 
# Выведите на экран его имя (name) и его тип значений (dtype).
print(f'Столбец ints - \n{df["ints"]}')
print(f'Данные столбца ints - {df["ints"].values}')
print(f'Данные индекса столбца ints - {df["ints"].index}')
print(f'Имя столбца ints - {df["ints"].name}')
print(f'Тип значений столбца ints - {df["ints"].dtype}')

Столбец ints -
0    5
1    6
2    7
3    8
4    9
Name: ints, dtype: int64
Данные столбца ints - [5 6 7 8 9]
Данные индекса столбца ints - Index(['0', '1', '2', '3', '4'], dtype='object')
Имя столбца ints - ints
Тип значений столбца ints - int64



---


**Изменение индекса объекта**

In [192]:
# 19. Добавьте новый столбец объекту DataFrame с помощью присваивания: “имя[новое имя столбца] = значение”.
df['bools'] = [True, False, True, True, False]
df

   ints strings  floats  bools
0     5     one     0.0   True
1     6     two     0.1  False
2     7   three     0.2   True
3     8    four     0.3   True
4     9    five     0.4  False



---


**Просмотр данных**

In [209]:

floats1_dict = {'0': 3,
             '1': 6,
             '2': 2,
             '3': 7,
             '4': 3}
floats1 = pd.Series(floats1_dict)

floats2_dict = {'0': 7,
             '1': 7,
             '2': 4,
             '3': 9,
             '4': 2}
floats2 = pd.Series(floats2_dict)

df1 = pd.DataFrame({'floats1': floats1,
                    'floats2': floats2})
df1

   floats1  floats2
0        3        7
1        6        7
2        2        4
3        7        9
4        3        2

In [210]:
# 23. Отобразить статистическую сводку для объекта DataFrame (describe).
print(f'Статистическая сводка - \n {df1.describe()}')

Статистическая сводка -
         floats1   floats2
count  5.000000  5.000000
mean   4.200000  5.800000
std    2.167948  2.774887
min    2.000000  2.000000
25%    3.000000  4.000000
50%    3.000000  7.000000
75%    6.000000  7.000000
max    7.000000  9.000000



---

**Выборки**

In [195]:
# 25. Выделить несколько столбцов, используя обращение по имени столбцов.
df[['ints', 'floats']]

   ints  floats
0     5     0.0
1     6     0.1
2     7     0.2
3     8     0.3
4     9     0.4

In [196]:
# 34. Выделить одно значение с помощью индексов (метод iat).
df.iat[1,2] # строка с индексом 1, столбец с индексом 2

0.1



---


**Логическое индексирование**

In [168]:
# 36. С помощью логического условия, выбрать элементы, удовлетворяющие некоторому условию.
df[(df['ints'] > 6) & (df['bools']==True)]

   ints strings  floats  bools
2     7   three     0.2   True
3     8    four     0.3   True



---

**Установка значений**

In [197]:
# 41. Установить значения, только элементам, удовлетворяющим некоторому условию.
df.loc[df['floats'] > 0.2, 'floats']=0
df

   ints strings  floats  bools
0     5     one     0.0   True
1     6     two     0.1  False
2     7   three     0.2   True
3     8    four     0.0   True
4     9    five     0.0  False



---

**Отсутствующие данные**

In [198]:
df[df == 0] = np.nan
df

   ints strings  floats bools
0     5     one     NaN  True
1     6     two     0.1   NaN
2     7   three     0.2  True
3     8    four     NaN  True
4     9    five     NaN   NaN

In [199]:
# 46. Заполнить пропущенные значения в разных столбцах, разными значениями (метод fillna, параметр value = словарь).
df['floats'] = df['floats'].fillna(value = {"0": 0.5, "3": 0.8, "4": 0.9})
df['bools'] = df['bools'].fillna(value = {"1": False, "4": True})
df

   ints strings  floats  bools
0     5     one     0.5   True
1     6     two     0.1  False
2     7   three     0.2   True
3     8    four     0.8   True
4     9    five     0.9   True



---

**Операции**

In [200]:
# 49. Увеличить все значения в одном столбце DataFrame в 10 раз.
df['floats'] *= 10
df

   ints strings  floats  bools
0     5     one     5.0   True
1     6     two     1.0  False
2     7   three     2.0   True
3     8    four     8.0   True
4     9    five     9.0   True



---

**Описательная статистика**

In [211]:
df1

   floats1  floats2
0        3        7
1        6        7
2        2        4
3        7        9
4        3        2

In [212]:
# 55. Среднее значение, дисперсию и медиану.
print(f'Среднее значение - \n{df1.mean()}\n')
print(f'Дисперсия - \n{df1.var()}\n')
print(f'Медиана - \n{df1.median()}\n')

Среднее значение -
floats1    4.2
floats2    5.8
dtype: float64

Дисперсия -
floats1    4.7
floats2    7.7
dtype: float64

Медиана -
floats1    3.0
floats2    7.0
dtype: float64



---


**Нормализация данных**

In [218]:
# 56. Применить десятичное масштабирование к данным в каждом столбце DataFrame. 
# Для этого для каждого столбца найти максимальное по модулю значение. 
# И все элементы поделить на 10^n, где n такое, что найденный 10^(n-1) <= max <= 10^n, т.е. если max = 456, то делим на 1000.
print(f'Максимальные значения - \n{df1.max()}')
df1['floats1'] /= 10**1
df1['floats2'] /= 10**1
print('После десятичного масштабирования:\n')
df1

Максимальные значения -
floats1    7
floats2    9
dtype: int64
После десятичного масштабирования:

   floats1  floats2
0      0.3      0.7
1      0.6      0.7
2      0.2      0.4
3      0.7      0.9
4      0.3      0.2



---


**Ввод/вывод данных в файл**

In [219]:
df

   ints strings  floats  bools
0     5     one     5.0   True
1     6     two     1.0  False
2     7   three     2.0   True
3     8    four     8.0   True
4     9    five     9.0   True

In [220]:
# 60. Запишите DataFrame в файл формата cvs (метод to_csv).
df.to_csv('df.csv')

In [221]:
# 61. Прочитайте из файла формата cvs объект DataFrame (функция pandas.read_csv).
pd.read_csv('df.csv')

   Unnamed: 0  ints strings  floats  bools
0           0     5     one     5.0   True
1           1     6     two     1.0  False
2           2     7   three     2.0   True
3           3     8    four     8.0   True
4           4     9    five     9.0   True